.bg-dark {
  background-color: #111 !important;
}

blockquote.evoke{
 color:#DDD;
}
q {
 color:#DDD;
}

pre {
 color:#0DD;
}

hr {
border-top: 1px solid #888
}

/* links */
a {
color: #28D;
}


/* amber text */
.text-light {
color: #F5B400 !important;
/*color: #FB0 !important;*/
}

/* headings */

h1,h2,h3,h4,h5,h6 {
color: #FFBB00 !important;
}

/* forms green text on black */

.form-control:focus, .form-control {
color: #2F2;
background-color: #000;
}

/* image and file listing actions */

.acts a img {
background-color: #888;
}

/********************** ratings-related overrides of evoke.css  ********************/


#rate a {
color:#000;
}

#rate a.enabled, #rate a.disabled:hover {
color:#EEE;
}

#rate a.disabled, #rate a.enabled:hover {
color:#777;
}


