body {
color:#AAA;

}

h3 {
color:#BBB;
  }

a {
color:#DB0;
}
a:visited {
color:#CA0;
}
a:hover{
color: #FC0;
}

tt, pre {
background-color:#000;
color:#4B4;	
}

blockquote {
color:#CCC;
border-left: 5px solid #222;
 }                                                                                                                                         
q {                                                                                                                                        
 color: #CCC;
 } 

fieldset {
background:#222 ;
}

.bigform label {
color: #88b;
}

/*
#pagesize {
min-width: 0px;
}
*/
#pagewrapper {
background:#004;
}

#helpbody #main {
margin: 0px 20px;
}


#logo {
float:right;	
border: none;
margin: 20px 0px;
}

/*#footer{
border-top: 1px solid #666;
}*/

#searchform {
 padding: 20px 0px;
}

#searchform input {
 background-color:#002;
 background-image:none;
 color:#888;
 border-color:#666;
}

#gobutton {
 color:#BBB;
 background-color:#444;
}

#username a{
color:#999;
}
#username a:hover{
color:#FC0;
}
#credits a:hover{
color:#FC0;
}

#navpanel a {
color:#888;
}
#navpanel a:visited {
color:#666;
}
#navpanel a:hover {
color:#FC0;
}


#avatar_header img {
margin: 0px;
}

#pageoptions li a {
color:#AAA;
}
#pageoptions li a:hover {
color:#DDD;
}
#pageoptions .selected a, #pageoptions .selected {
border-bottom: 2px solid #004;
}

.help_content {
color: #888;
}



.replies, .summary {
border-bottom:1px solid #444;
}

#pageinfo {
color: #888;
background-color: #222;
margin: 20px 0px;
padding: 5px 0px;
}

/* user links */

#linkspage .links h1, #linksedit .links h1 {
 /*display:inline;*/
 font-weight:normal;
 color: #B62;
/* background-color: #222;*/
}
/*
#linkspage .links a:visited {
 color: #E99;
}
*/

#linkspage .links a:hover {
 color: #FC0;
}

/*
#linkspage .links a {
 color: #8E8;
}
#link_category_select {
 float:none; 
}
*/

#linkspage #contentheader {
 display:none;
}
#linkspage #pageoptions {
 display:none;
}

#linkspage .links .huge {color: #BBB;}
#linkspage .links .big {color: #AAA;}
#linkspage .links .norm {color: #999;}
#linkspage .links .wee  {color: #888;}
#linkspage .links .tiny {color: #777;}
